@inherits Umbraco.Web.Mvc.UmbracoViewPage

        <footer>
        <div class="container-fluid text-center bg-dblue">
            <div class="row">
                <div class="col py-2">Free parking at most locations!</div>
            </div>
            <div class="row bg-gray">
                <div class="col-sm footer-left">
                    Grant Properties<br />
                    222 S College Avenue<br />
                    Bloomington IN 47404
                </div>
                <div class="col-sm footer-middle">
                    <a href="mailto:leasinginfo@grantprops.com"><i class="btn-circle bg-dblue far fa-envelope"></i></a>
                    <a href="https://instagram.com/grantproperties/"><i class="btn-circle bg-dblue fab fa-instagram"></i></a>
                    <!-- <a href="#"><i class="btn-circle bg-dblue fab fa-facebook-f"></i></a> -->
                </div>
                <div class="col-sm footer-right">
                    <strong>Contact Us</strong><br>
                    <i class="fas fa-mobile-alt"></i> <a href="tel:+1-812-333-9579">812-333-9579</a><br />
                    <i class="far fa-envelope"></i> <a href="mailto:leasinginfo@grantprops.com">leasinginfo@grantprops.com</a>
                </div>
            </div>
            <div class="row">
                <div class="col bg-gray pt-2">Copyright &copy; <span id="year"></span> - Grant Properties | All rights reserved.</div>
            </div>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/scripts/gp.js")"></script>
</body>
</html>